

div.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(360deg, #131E28 0%, rgba(28, 38, 48, 0) 100%), #242734;

  .main-page {
    position: relative;
    width: 100%;
    height: 100vh;

    .header-info {
      width: fit-content;
      height: fit-content;
      margin-top: 20%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;

      .socials {
        display: flex;
        flex-direction: row;
        margin-left: -.5rem;

        div {
          width: fit-content;
          height: fit-content;
          margin: .5rem;

          img {
            width: 40px;
            height: 40px;
            filter: drop-shadow(0 0 0.75rem #00000040);
            transition: .2s;

            &:hover {
              cursor: pointer;
              filter: drop-shadow(0 0 0.75rem #4ea5d640);
            }
          }

        }
      }
    }

    .bg-img {
      position: absolute;
      top: 20%;
      right: 0%;
    }
  }

  .about-me {
    background: #333646;
    box-shadow: 0px -4px 20px 5px rgba(0, 0, 0, 0.25);
    margin-top: 8rem;
    margin-right: 10%;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .container {
      display: flex;
      flex-direction: row;
      margin: 4rem 0;
      margin-right: 6.25rem;
      width: 100%;
      margin-left: 15%;
      width: fit-content;

      img {
        width: auto;
        box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
        margin-right: 2rem;
        object-fit: cover;
      }

      .content {
        height: fit-content;
        width: fit-content;

        
      }
    }

  }

  .skills {
    width: 100%;
    height: auto;
    background-color: #333646;
    box-shadow: 0px -4px 20px 5px rgba(0, 0, 0, 0.25);
    padding: 5rem 0;
    margin-top: 10rem;

    h2 {
      position: relative;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  .experience,
  .education {
    margin: 8rem 12%;

    h2 {
      margin: 0 auto;
    }

    .timeline {
      width: 100%;
      margin-top: 3rem;
      
      .time-point {
        width: 100%;
        display: flex;
        flex-direction: row;

        .card {
          width: 70%;
          background: #333646;
          box-shadow: 0px -4px 20px 5px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          padding: 3rem 4rem;
          margin: 2rem 0;

          p {
            margin-top: 1rem;
          }

          h5 {
              font-weight: 500;
              font-size: 18px;
              color: rgb(209, 209, 209);
              margin-top: 0.5rem;
          }

          .separator {
            height: 1px;
          }
        }

        .bar-container {
          width: 100px;
          position: relative;
          margin: 0 2rem;

          .bar {
            width: 10px;
            height: 100%;
            background-color: white;
            margin: 0 auto;
          }

          img {
            width: 100px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }

        }
        
        &:first-child {
          .bar {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
        &:last-child {
          .bar {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  .projects {
    margin: 8rem 20%;

    h2 {
      margin: auto;
    }

    .item-list {
      justify-content: space-between;
        
      .item-display > div {
        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 20px 10px #4ea4d615;
        }
      }

      .multi-manage-item > div {
        background-color: white;
      }
    
      .philter-item > div{
        background-color: black;
      }
    }

    .project-details {
      background: #333646;
      box-shadow: 0px -4px 20px 5px #00000040;
      border-radius: 20px;
      padding: 1.5rem;
      margin-top: 4em;
      
      header {
        position: relative;
        margin-bottom: 1rem;

        h4 {
          margin: auto;
        }
        
        .close-btn {
          background: transparent;
          color: white;
          border: 0;
          font-size: 20px;
          
          &:hover {
            cursor: pointer;
          }
        }
      }

      .image-slider {
        .image {
          width: 100%;
        }

        .position-indicator {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: .5rem;

          .indicator {
            width: 15px;
            height: 15px;
            background-color: #50566B;
            border-radius: 100%;
            margin: .5rem;
            border: 2px solid #50566B;

            &.current {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
    
  .articles {
    h2 {
      margin: auto
    }

    .content {
      display: flex;
      flex-direction: column;
      margin: 0 10%;

      .article {
        background: #333646;
        box-shadow: 0px -4px 20px 5px #00000040;
        border-radius: 20px;
        padding: 3rem 4rem;
        margin: 2rem 0;

        p {
          margin-top: 2rem;
        }
      }
    }
  }

}
.separator {
  width: 154px;
  height: 1px;
  border-radius: 5px;
  background-color: #FFC45C;
  margin: 1rem 0;
}

.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  .item-display {
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    transition: .3s;

    &.item-dark > div{
      background-color: #242734;
    }

    &.item-light > div{
      background-color: #333646;
    }


    div {
      width: fit-content;
      height: fit-content;
      border-radius: 100%;
      box-shadow: 0px -4px 20px 10px #0000001f;
      padding: 1rem;
      transition: .3s;

      &.selected {
        box-shadow: 0px 4px 20px 10px #4ea5d640;
      }

      img {
        width: 130px;
        height: 130px;
        object-fit: contain;
        margin: auto;
        border-radius: 100%;

        &.sass {
          border-radius: 0%;
        }
      }
    }

    h5 {
      margin: auto;
      margin-top: 0.5rem;
    }
  }
}