$breakpoint-project-row: 782px;
$breakpoint-skills: 500px;


.App {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 100vh fit-content(100px) fit-content(100px) fit-content(100px) fit-content(100px) fit-content(100px) fit-content(100px);
  grid-row-gap: 50px;
}

p{
  font-weight: 300;
}

.section-title{
  font-size: 40px;
  text-align: center;
}

#home-section{
  grid-row: 1;
  grid-column: 2;
  padding: 10% 0;

  h2{
    font-weight: 300;
    font-size: 30px;
    margin:0;
  }

  h1{
    margin:0;
    font-weight: 900;
    font-size: 70px;
  }

  p{
    width: 60%;
  }

  img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    object-fit: contain;
  }

}

.btn{
  width: 140px;
  margin-left: 70px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  background: linear-gradient(244.45deg, #00F2FE -22.31%, rgba(0, 242, 254, 0) 68.67%), #4FACFE;
  box-shadow: 0px 5px 20px #10151640;
  color: white;
  transition: .2s;
  transform: translate(-50%);
  font-size: 14px;

  &:hover{
    width: 150px;
    padding: 13px 20px;
    box-shadow: 0px 5px 30px rgba(16, 21, 22, 0.25);
    cursor: pointer;
    font-size: 15px;
  }
}

.separator{
  position: relative;
  width: 50%;
  height: 2px;
  transform: translate(-50%);
  left: 50%;
  background-color: #D3E7F6;
}

#about-me-section{
  grid-row: 2;
  grid-column: 2;

  h1, p{
    text-align: center;
  }


}

#skills-section{
  grid-row: 3;
  grid-column: 2;
  
  @media (min-width:$breakpoint-skills) {
    #skill-container{
      display: grid;
      grid-template-columns: calc(50% - 20px) 40px calc(50% - 20px);
  
      #left{
        grid-column: 1;
      }
      #right{
        grid-column: 3;
      }
  
    }
  }
  @media (max-width:$breakpoint-skills) {
    #skill-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: fit-content(100px) fit-content(100px);

        #left{
          grid-column: 1;
          grid-row: 1;
        }
        #right{
          grid-column: 1;
          grid-row: 2;

          div:first-child{margin-top: 0;}
        }

    }
  }

  
  
    .skill-disp{
    margin: 30px 0px;
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: fit-content(10px) 10px;

    .skill{
      grid-row: 1;
      grid-column: 1;
      font-weight: 300;
    }

    .skill-level{
      grid-column: 3;
      grid-row: 1;
      font-weight: 300;
    }

    .skill-bar{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row: 2;
      width: 100%;
      height: 10px;
      border-radius: 10px;
      border: 1px solid #89a2be;
      background-color: #D3E7F6;

      .skill-fill{
        height: 100%;
        background-color: #4FACFE;
        transition: .2s;
      }
    }
  }
}

#education-experience-section{
  grid-row: 4;
  grid-column: 2;
  display: grid;
  width: 100%;
  grid-template-columns: calc(50% - 25px) 50px calc(50% - 25px);

  #education{
    grid-column: 1;
  }
  #experience{
    grid-column: 3;
  }

  .card{
    width: calc(100% - 40px);
    background-color: white;
    border: 2px solid #4FACFE;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    box-shadow: 0px 5px 10px #10151613;

    display: flex;
    flex-flow: column;

    .title{
      font-weight: 700;
      font-size: 18px;
    }
    .location{
      font-weight: 400;
    }
    .date{
      font-weight: 400;
      width: fit-content;
      position: relative;
      margin-left: auto;
      margin-top: 20px;
    }
  }

}

#projects-section{
  grid-row: 5;
  grid-column: 2;

  .img-slider{
    height: 100%;

    img{
      width: 100%;
      object-fit: contain;
      box-shadow: 0px 5px 10px #10151640;
    }
  }
  // 782

  @media (min-width: $breakpoint-project-row) {
    .rowLeft{
      display: grid;
      grid-template-columns: auto 40px fit-content(45%);
      grid-template-rows: fit-content(400px);
      margin: 40px 0;
  
      .text{
        grid-row: 1;
        grid-column: 1;
      }
  
      .img-slider{
        grid-row: 1;
        grid-column: 3;
        height: fit-content;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  
    .rowRight{
      display: grid;
      grid-template-columns: fit-content(45%) 40px auto;
      grid-template-rows: fit-content(400px);
      margin: 40px 0;
  
      .text{
        grid-row: 1;
        grid-column: 3;
        
        h2, p{
          text-align: right;
        }
      }
  
      .img-slider{
        grid-row: 1;
        grid-column: 1;
        height: fit-content;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }
  
  @media (max-width: $breakpoint-project-row) {
    .rowLeft,
    .rowRight{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: fit-content(400px) fit-content(400px);
      margin: 40px 0;
  
      .text{
        grid-row: 1;
        grid-column: 1;

        h2,p{
          text-align: center;
        }
      }
  
      .img-slider{
        grid-row: 2;
        grid-column: 1;
        height: fit-content;
        position: relative;
        margin: auto;
      }
    }
  }

  

  #smtuc{

    .img-slider{
      width: fit-content;

      img{
        width: auto;
        height: 400px;
        
      }
    }
  }
}

#contact-section{
  grid-row: 6;
  grid-column: 2;


  #contact-card{
    background-color: white;
    border: 2px solid #4FACFE;
    padding: 20px 40px;
    border-radius: 20px;
    width: 60%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

    .row{
      display: flex;
      flex-flow: row;
      margin: 10px 0;
    }
  }
}

#footer{
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 150px;
  max-width: 100%;
  margin-top: 40px;
  background: linear-gradient(180deg, #00F2FE -70.88%, rgba(0, 242, 254, 0) 124.22%), #4FACFE;;
  border-radius: 50%/100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
